@import 'index.sass'

@mixin font-styles($font-family, $font-size, $font-color)
  font-family: $font-family
  font-size: $font-size
  color: $font-color

#about
  // height: 100vh
  min-height: 100vh
  padding: 3.75rem 0
  background-color: $primary-color
  color: white

  .about-me
    display: flex
    flex-direction: column
    width: 95%
    margin: 1.25rem auto
    gap: 2.5rem
    @media(min-width: 33.75rem ) // 540px
      width: 85%
    h3
      @include font-styles( $JosefinSans, 2rem , white )
      text-align: center
    // Profile section ---------------------
    .profile
      display: flex
      flex-direction: column

      figure
        width: 100%
        display: flow-root // if text in figcaption is less then we might get some problem
        padding: 0.75rem
        .my-photo
          height: 10rem
          aspect-ratio: 1/1
          border-radius: 50%
          margin-right: 0.75rem
          float: left
          display: block
        figcaption
          @include font-styles( $Ubuntu, 1.25rem , #dadada )
          line-height: 2rem

    .education
      margin: 0 auto
      width: 100%
      min-width: 20rem
      max-width: 25rem
      display: flex
      flex-direction: column
      gap: 1.25rem
      @media(min-width: 33.75rem ) // 540px
        max-width: 28rem
      h4
        font-size: 1.1rem
        font-family: $JosefinSans
        @media(min-width: 33.75rem ) // 540px
          font-size: 1.4rem

      span
        @include font-styles($JosefinSans, 0.75rem ,#dadada )
        font-weight: normal
        float: right
        font-style: italic

      p
        @include font-styles($JosefinSans, 1rem ,#dadada )
        padding-left: 2rem

    .resume
      @include font-styles($Roboto, 1.2rem, #fff)
      background: linear-gradient(to bottom,$secondary-color, darken($secondary-color, 20%))
      padding: 1rem 1.25rem
      margin: auto
      display: grid
      place-content: center
      text-decoration: none
      border-radius: 10px
      transform: scale(0.80) rotateY(-30deg) rotateX(45deg) translateZ(2rem)
      transform-origin: 50% 100%
      transform-style: preserve-3d
      box-shadow: 1rem 1rem 3rem 0 rgba(0, 0, 0, 0.2)
      transition: 0.6s ease transform

      &:hover 
        transform: scale(1)      

      &::after 
        content: " "
        display: block
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        border-radius: 10px
        transition: all 0.6s ease

      &::after 
        transform: translateZ(-2rem)
        background: white
        box-shadow: 1rem 1rem 3rem 0 rgba(0, 0, 0, 0.2)
        &:hover 
          transform: translateZ(0)
     
