@import 'index.sass'

$border-radius: 0.5rem

@mixin link-btn($bg-color : #0077b6)
  color: white
  background-color: $bg-color
  padding: 0.75rem 1.25rem
  text-decoration: none
  border-radius: 5px
  font-family: $JosefinSans
  font-size: 1.1em
  box-shadow: 0 8px 6px 0px rgba(0,0,0,0.4)
  &:focus 
    border: 2px solid darken($bg-color, 10%)
    outline: none

@mixin description
  display: none
  place-content: center
  min-height: 12.5rem
  width: 22rem
  flex-shrink: 0
  border-radius: $border-radius
  font-family: Ubuntu,sans-serif
  padding: 1.25rem
  background-color: #cbd5e0

#projects
  background: linear-gradient(to right, #cad0ff,#e3e3e3 )
  min-height: 100vh
  padding: 3.725rem 0

  .project-container
    display: flex
    flex-direction: column
    justify-content: center
    gap: 2rem
    align-items: center
    .odd-card
      display: flex
      justify-content: space-around
      align-items: center
      gap: 0.75rem
      padding: 2rem
      min-width: 23.5rem
      width: 75%
      background-color: white
      border-radius: $border-radius
      box-shadow: 0 35px 60px rgba(0,0,0,0.3)
      @media (min-width: 48rem)
        width: 95%
      @media (min-width: 64rem)
        width: 80%
      @media (min-width: 80rem)
        width: 69rem

      .card-div
        display: flex
        flex-direction: column
        justify-content: space-around
        height: 100%
        width: 22rem
        gap: 1.25rem

        .figure
          position: relative
          display: flex
          flex-direction: column
          align-items: center
          gap: 1.25rem
          padding-bottom: 1.25rem
          border-radius: $border-radius
          box-shadow: 0 20px 35px 0px rgba(0,0,0,0.3)

          .info
            @include description
          .image
            border-radius: $border-radius
            aspect-ratio: 350/197 // original aspect-ratio of the images
            width: 22rem
          .name
            font-size: 1.25em
            font-family: $JosefinSans

            text-align: center
          .info-icon
            position: absolute
            right: 0.5rem
            bottom: 4.5rem
            font-size: 1.25rem
            color: white
            background-color: black
            border: 2px solid black
            border-radius: 50%
            cursor: pointer
            &:focus 
              border: 2px solid #145277
            @media (min-width: 48rem)
              display: none
        .button-container
          display: flex
          justify-content: space-evenly
          width: 100%
          .demo-btn
            @include link-btn

          .code-btn
            @include link-btn( #5465ff)

      .description
        @include description
        @media (min-width: 48rem)
          display: grid
